/* 发现页面的响应式处理 */

@media screen and (max-width: 850px) {
  .dis-rec {
    flex: 0 0 50% !important;
    margin: 0px;
  }
  #dis-newmusic {
    flex: 0 0 95%;
  }
  .dis-newmusic-3 {
    display: block !important;
  }
  /* 小屏幕下让mv容器 */
  #mv-container {
    justify-content: center;
  }

  .dis-mv {
    flex: 0 0 95% !important;
  }
}

@media screen and (max-width: 576px) {
  .dis-newmusic-3 {
    display: none !important;
  }
}

@media screen and (max-width: 374px) {
  .dis-rec {
    flex: 0 0 100% !important;
  }
}
